# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log